DIV.form INPUT {
	MARGIN: 0.2em 0px 0.5em
}
DIV.form TEXTAREA {
	MARGIN: 0.2em 0px 0.5em
}
DIV.form SELECT {
	MARGIN: 0.2em 0px 0.5em
}
DIV.form FIELDSET {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 10px; -moz-border-radius: 7px
}
DIV.form LABEL {
	TEXT-ALIGN: right; WIDTH: 100px; PADDING-RIGHT: 8px; DISPLAY: inline-block; FONT-SIZE: 0.9em; VERTICAL-ALIGN: top
}
DIV.form .row {
	MARGIN: 5px 0px
}
DIV.form .hint {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #999; PADDING-TOP: 0px
}
DIV.form .note {
	FONT-STYLE: italic
}
DIV.form SPAN.required {
	COLOR: red
}
DIV.form DIV.error LABEL {
	COLOR: #c00
}
DIV.form LABEL.error {
	COLOR: #c00
}
DIV.form SPAN.error {
	COLOR: #c00
}
DIV.form DIV.error INPUT {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BACKGROUND: #fee; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
DIV.form DIV.error TEXTAREA {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BACKGROUND: #fee; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
DIV.form DIV.error SELECT {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BACKGROUND: #fee; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
DIV.form INPUT.error {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BACKGROUND: #fee; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
DIV.form TEXTAREA.error {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BACKGROUND: #fee; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
DIV.form SELECT.error {
	BORDER-BOTTOM-COLOR: #c00; BORDER-TOP-COLOR: #c00; BACKGROUND: #fee; BORDER-RIGHT-COLOR: #c00; BORDER-LEFT-COLOR: #c00
}
DIV.form DIV.success INPUT {
	BORDER-BOTTOM-COLOR: #c6d880; BORDER-TOP-COLOR: #c6d880; BACKGROUND: #e6efc2; BORDER-RIGHT-COLOR: #c6d880; BORDER-LEFT-COLOR: #c6d880
}
DIV.form DIV.success TEXTAREA {
	BORDER-BOTTOM-COLOR: #c6d880; BORDER-TOP-COLOR: #c6d880; BACKGROUND: #e6efc2; BORDER-RIGHT-COLOR: #c6d880; BORDER-LEFT-COLOR: #c6d880
}
DIV.form DIV.success SELECT {
	BORDER-BOTTOM-COLOR: #c6d880; BORDER-TOP-COLOR: #c6d880; BACKGROUND: #e6efc2; BORDER-RIGHT-COLOR: #c6d880; BORDER-LEFT-COLOR: #c6d880
}
DIV.form INPUT.success {
	BORDER-BOTTOM-COLOR: #c6d880; BORDER-TOP-COLOR: #c6d880; BACKGROUND: #e6efc2; BORDER-RIGHT-COLOR: #c6d880; BORDER-LEFT-COLOR: #c6d880
}
DIV.form TEXTAREA.success {
	BORDER-BOTTOM-COLOR: #c6d880; BORDER-TOP-COLOR: #c6d880; BACKGROUND: #e6efc2; BORDER-RIGHT-COLOR: #c6d880; BORDER-LEFT-COLOR: #c6d880
}
DIV.form SELECT.success {
	BORDER-BOTTOM-COLOR: #c6d880; BORDER-TOP-COLOR: #c6d880; BACKGROUND: #e6efc2; BORDER-RIGHT-COLOR: #c6d880; BORDER-LEFT-COLOR: #c6d880
}
DIV.form .errorSummary {
	BORDER-BOTTOM: #c00 2px solid; BORDER-LEFT: #c00 2px solid; PADDING-BOTTOM: 12px; MARGIN: 0px 0px 20px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; BACKGROUND: #fee; FONT-SIZE: 0.9em; BORDER-TOP: #c00 2px solid; BORDER-RIGHT: #c00 2px solid; PADDING-TOP: 7px
}
DIV.form .errorMessage {
	DISPLAY: inline-block; COLOR: red; FONT-SIZE: 0.9em
}
DIV.form .errorSummary P {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
DIV.form .errorSummary UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.form.wide LABEL {
	POSITION: relative; TEXT-ALIGN: right; FLOAT: left; MARGIN-RIGHT: 10px
}
DIV.form.wide .buttons {
	PADDING-LEFT: 110px; CLEAR: left
}
DIV.form.wide .hint {
	PADDING-LEFT: 110px; CLEAR: left
}
DIV.form.wide .errorMessage {
	PADDING-LEFT: 110px; CLEAR: left
}
