HTML {
	BACKGROUND-COLOR: #fff; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 100%; OVERFLOW: hidden
}
BODY {
	BACKGROUND-COLOR: #fff; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 100%; OVERFLOW: hidden
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H3 {
	COLOR: #666
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
INPUT.m_gray {
	COLOR: #cccccc
}
INPUT.m_black {
	COLOR: #000
}
.errorMessage {
	COLOR: red
}
.top_public {
	Z-INDEX: 2008; POSITION: absolute; MIN-WIDTH: 960px; TEXT-ALIGN: center; WIDTH: 100%
}
.title_public {
	FILTER: Alpha(opacity =   90); BACKGROUND-COLOR: #54c1de; MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 200px
}
.clear {
	CLEAR: both
}
.title_public .left {
	TEXT-ALIGN: center; LINE-HEIGHT: 200px; WIDTH: 480px; FLOAT: left; HEIGHT: 200px
}
.title_public .left .nlogo {
	COLOR: #fff; FONT-SIZE: 60px; FONT-WEIGHT: bold
}
.title_public .right {
	PADDING-BOTTOM: 10px; WIDTH: 470px; PADDING-RIGHT: 10px; FLOAT: right; HEIGHT: 200px; PADDING-TOP: 10px
}
.title_public .top {
	TEXT-ALIGN: right; WIDTH: 470px; HEIGHT: 130px
}
.title_public .bottom {
	WIDTH: 450px !important; FLOAT: right; HEIGHT: 45px !important
}
.cornerBg {
	BACKGROUND-COLOR: #236092; WIDTH: 286px; FLOAT: left; HEIGHT: 40px
}
.searchInput {
	BACKGROUND-COLOR: #fff; WIDTH: 100%; HEIGHT: 100%
}
.searchBtn {
	LINE-HEIGHT: 40px; WIDTH: 160px; FLOAT: right; HEIGHT: 40px
}
.searchBtn INPUT {
	BORDER-BOTTOM: #4f6a7a 1px solid; BORDER-LEFT: #4f6a7a 1px solid; BACKGROUND-COLOR: #d2ecf0; WIDTH: 70px; HEIGHT: 28px; BORDER-TOP: #4f6a7a 1px solid; CURSOR: hand; BORDER-RIGHT: #4f6a7a 1px solid
}
.main {
	POSITION: relative; OVERFLOW-X: auto; OVERFLOW-Y: scroll; WIDTH: 100%; HEIGHT: 100%
}
.body_index {
	MARGIN: 200px auto 0px; WIDTH: 960px; OVERFLOW: hidden
}
.square {
	MARGIN: 5px auto; WIDTH: 100%; HEIGHT: 346px
}
.nine_grid {
	POSITION: relative; FLOAT: left; HEIGHT: 100%
}
.nine_grid UL {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.nine_grid LI {
	POSITION: absolute; FLOAT: left; COLOR: #fff; OVERFLOW: hidden
}
.grid_1 {
	WIDTH: 228px; HEIGHT: 114px
}
.grid_1 DIV {
	PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 85%; OVERFLOW: hidden; PADDING-TOP: 5px
}
.grid_1 IMG {
	WIDTH: 50px; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 5px
}
.grid_1 SPAN {
	TEXT-ALIGN: left; WIDTH: 150px; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 4px; FLOAT: right; OVERFLOW: hidden
}
.grid_3 {
	WIDTH: 228px; HEIGHT: 346px
}
.grid_3 DIV {
	PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-LEFT: 5px; WIDTH: 90%; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 90%; OVERFLOW: hidden; PADDING-TOP: 5px
}
.grid_3 IMG {
	WIDTH: 140px; MARGIN-BOTTOM: 20px; HEIGHT: 140px
}
.grid_3 SPAN {
	TEXT-ALIGN: left; WIDTH: 210px; DISPLAY: inline; MARGIN-BOTTOM: 10px; FLOAT: left; FONT-SIZE: 15px
}
.grid_4 {
	WIDTH: 458px; HEIGHT: 230px
}
.grid_4 DIV {
	PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-LEFT: 10px; WIDTH: 90%; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 85%; OVERFLOW: hidden; PADDING-TOP: 20px
}
.grid_4 IMG {
	WIDTH: 140px; FLOAT: left; HEIGHT: 140px; MARGIN-LEFT: 20px
}
.grid_4 SPAN {
	TEXT-ALIGN: left; WIDTH: 240px; DISPLAY: inline; MARGIN-BOTTOM: 10px; FLOAT: right; FONT-SIZE: 15px
}
.grid_9 {
	WIDTH: 688px; HEIGHT: 346px
}
.grid_9 DIV {
	PADDING-BOTTOM: 0px; MARGIN: 50px 0px 0px 100px; PADDING-LEFT: 10px; WIDTH: 70%; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 70%; OVERFLOW: hidden; PADDING-TOP: 10px
}
.grid_9 IMG {
	WIDTH: 180px; FLOAT: left; HEIGHT: 180px; MARGIN-LEFT: 30px
}
.grid_9 SPAN {
	TEXT-ALIGN: left; WIDTH: 260px; DISPLAY: inline; MARGIN-BOTTOM: 10px; FLOAT: right; FONT-SIZE: 15px
}
#namecard_1 {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px
}
#namecard_2 {
	MARGIN-TOP: 0px; MARGIN-LEFT: 230px
}
#namecard_3 {
	MARGIN-TOP: 0px; MARGIN-LEFT: 460px
}
#namecard_4 {
	MARGIN-TOP: 116px; MARGIN-LEFT: 0px
}
#namecard_5 {
	MARGIN-TOP: 116px; MARGIN-LEFT: 230px
}
#namecard_6 {
	MARGIN-TOP: 116px; MARGIN-LEFT: 460px
}
#namecard_7 {
	MARGIN-TOP: 232px; MARGIN-LEFT: 0px
}
#namecard_8 {
	MARGIN-TOP: 232px; MARGIN-LEFT: 230px
}
#namecard_9 {
	MARGIN-TOP: 232px; MARGIN-LEFT: 460px
}
.nameCardBackColor_default {
	BACKGROUND-COLOR: #c7ebff
}
.nameCardBackColor_1 {
	BACKGROUND-COLOR: #2ca9e1
}
.login {
	BORDER-BOTTOM: #81b6cb 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #81b6cb 1px solid; BACKGROUND-COLOR: #efedea; WIDTH: 260px; FLOAT: right; BORDER-TOP: #81b6cb 1px solid; BORDER-RIGHT: #81b6cb 1px solid
}
.login INPUT {
	MARGIN-TOP: 10px
}
.registerD {
	LINE-HEIGHT: 40px; BACKGROUND-COLOR: #81cdd9; MARGIN: 5px auto 0px; WIDTH: 240px; DISPLAY: block; HEIGHT: 40px; COLOR: #fff; FONT-SIZE: 20px; FONT-WEIGHT: 700
}
#username {
	BORDER-BOTTOM: #81b6cb 1px solid; BORDER-LEFT: #81b6cb 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 5px; HEIGHT: 20px; FONT-SIZE: 14px; BORDER-TOP: #81b6cb 1px solid; BORDER-RIGHT: #81b6cb 1px solid; PADDING-TOP: 5px
}
#password {
	BORDER-BOTTOM: #81b6cb 1px solid; BORDER-LEFT: #81b6cb 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 5px; HEIGHT: 20px; FONT-SIZE: 14px; BORDER-TOP: #81b6cb 1px solid; BORDER-RIGHT: #81b6cb 1px solid; PADDING-TOP: 5px
}
#password_text {
	BORDER-BOTTOM: #81b6cb 1px solid; BORDER-LEFT: #81b6cb 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 200px; PADDING-RIGHT: 5px; HEIGHT: 20px; FONT-SIZE: 14px; BORDER-TOP: #81b6cb 1px solid; BORDER-RIGHT: #81b6cb 1px solid; PADDING-TOP: 5px
}
.loginD {
	BACKGROUND-COLOR: #c5d768; MARGIN: 5px 0px 0px 20px; WIDTH: 73px; FLOAT: left; HEIGHT: 36px
}
#loginBtn {
	BACKGROUND-COLOR: #c5d768; MARGIN: 0px; WIDTH: 73px; HEIGHT: 36px; COLOR: #fff; FONT-SIZE: 20px; CURSOR: hand; FONT-WEIGHT: 700
}
.findPwD {
	TEXT-ALIGN: left; MARGIN: 5px 0px 0px; WIDTH: 152px; FLOAT: right; PADDING-TOP: 10px
}
.findPwD A {
	COLOR: #236092; FONT-SIZE: 12px; FONT-WEIGHT: 700
}
.login_corp {
	PADDING-BOTTOM: 0px; OVERFLOW-Y: auto; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 134px; CLEAR: both; PADDING-TOP: 10px
}
.login_corp IMG {
	MARGIN: 10px 0px 0px
}
.login_corp P {
	VERTICAL-ALIGN: bottom
}
.corpD {
	BACKGROUND-COLOR: #fff; WIDTH: 100%; MARGIN-BOTTOM: 4px; HEIGHT: 28px
}
.corpIcon {
	WIDTH: 28px; FLOAT: left; HEIGHT: 100%; MARGIN-RIGHT: 2px
}
.corpIcon IMG {
	MARGIN: 0px
}
.corpLink {
	LINE-HEIGHT: 28px; WIDTH: 205px; FLOAT: right; VERTICAL-ALIGN: middle
}
.corpLink A {
	COLOR: #fff
}
.corpBg_1 {
	BACKGROUND-COLOR: #ea9584
}
.corpBg_2 {
	BACKGROUND-COLOR: #7fc3da
}
.useing {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e5e3de; MARGIN: 5px auto; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; HEIGHT: 180px; PADDING-TOP: 4px
}
.useing .targBg {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #fff; WIDTH: 950px; HEIGHT: 50px
}
.useing .targ {
	LINE-HEIGHT: 50px; BACKGROUND-COLOR: #88cde6; COLOR: #fff; FONT-SIZE: 20px; FONT-WEIGHT: 700
}
A.prev {
	POSITION: absolute; WIDTH: 45px; DISPLAY: block; TOP: 30px
}
A.next {
	POSITION: absolute; WIDTH: 45px; DISPLAY: block; TOP: 30px
}
A.prev {
	LEFT: 0px
}
A.next {
	RIGHT: 10px
}
A.disabled.prev {
	CURSOR: default
}
A.disabled.next {
	CURSOR: default
}
.clearfix {
	FLOAT: none; CLEAR: both
}
.list_carousel {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 40px; WIDTH: 920px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.list_carousel UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.list_carousel LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 12px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; HEIGHT: 100px; COLOR: #999; PADDING-TOP: 0px
}
.list_carousel IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 9px; BACKGROUND-COLOR: white; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 9px
}
.top_public .header {
	BACKGROUND-COLOR: #fff; MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 100%
}
.logo_50 {
	BORDER-BOTTOM: #00adee 2px solid; BORDER-LEFT: #00adee 2px solid; WIDTH: 956px; HEIGHT: 50px; BORDER-TOP: #00adee 2px solid; BORDER-RIGHT: #00adee 2px solid
}
.title_50 {
	BACKGROUND-COLOR: #85c2e7; MARGIN-TOP: 2px; WIDTH: 100%; HEIGHT: 50px
}
.title_50 .nav_tags {
	WIDTH: 412px
}
.title_50 .left {
	FLOAT: left
}
.title_50 .nav_tags UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 50px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.title_50 FORM {
	MARGIN-TOP: 10px
}
.title_50 .nav_tags LI {
	BORDER-BOTTOM: #7db1c3 1px solid; BORDER-LEFT: #7db1c3 1px solid; LINE-HEIGHT: 48px; BACKGROUND-COLOR: #e1f5f8; WIDTH: 80px; FLOAT: left; HEIGHT: 48px; COLOR: #4c72a0; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #7db1c3 1px solid; CURSOR: hand; FONT-WEIGHT: 200; BORDER-RIGHT: #7db1c3 1px solid
}
.title_50 .right {
	TEXT-ALIGN: right; LINE-HEIGHT: 50px; PADDING-RIGHT: 10px; FLOAT: right; HEIGHT: 50px
}
.title_50 .right .mouse_event {
	POSITION: relative; FLOAT: left; MARGIN-LEFT: 5px
}
.title_50 .right .mouse_event UL {
	BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px; PADDING-LEFT: 8px; WIDTH: 150px; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; RIGHT: 0px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.title_50 .right .mouse_event LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 28px
}
.title_50 .right .mouse_event LI.line {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 2px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #e0e0e0 0px 0px; HEIGHT: 1px; FONT-SIZE: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.body_public {
	MARGIN: 115px auto -20px; WIDTH: 960px; OVERFLOW: hidden
}
.left_nav {
	TEXT-ALIGN: left; PADDING-BOTTOM: 80px; BACKGROUND-COLOR: #c7ebff; MIN-HEIGHT: 400px; WIDTH: 150px; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 24px
}
.left_nav H3 {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 15px; MARGIN: 0px 0px 1px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; HEIGHT: 15px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: 400; PADDING-TOP: 6px
}
.left_nav DT {
	POSITION: relative; ZOOM: 1
}
.left_nav DIV {
	MARGIN-TOP: 0px
}
.left_nav .border {
	BORDER-BOTTOM: #e0e0e0 1px solid; PADDING-BOTTOM: 9px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.left_nav DT.curent {
	BACKGROUND-COLOR: #79c5e9
}
.left_nav DT .title {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 16px; MARGIN: 0px 0px 1px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 16px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 5px; _margin: 0
}
.left_nav DT.current A {
	FONT-SIZE: 14px; CURSOR: auto; TEXT-DECORATION: none
}
.left_nav A.title {
	COLOR: #0363a0
}
.left_nav DT.curent A.title {
	COLOR: #fff; CURSOR: default
}
.left_nav DD.curent {
	BACKGROUND-COLOR: #c6e8f4
}
.left_nav DIV DD A {
	PADDING-BOTTOM: 6px; LINE-HEIGHT: 15px; MARGIN: 0px 0px 1px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 14px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 6px; _margin: 0
}
.left_nav DIV DD A {
	PADDING-LEFT: 35px
}
.left_nav DD.curent A {
	COLOR: #595959; CURSOR: default
}
.right_body {
	MARGIN: 0px auto; WIDTH: 805px; FLOAT: right; CLEAR: none
}
.rigth_column {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #fff; MIN-HEIGHT: 450px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; PADDING-TOP: 30px; _height: 600px
}
.index_title {
	MARGIN-BOTTOM: 30px
}
.index_title H3 {
	BORDER-BOTTOM: #e0e0e0 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; FONT-WEIGHT: 700; PADDING-TOP: 0px
}
.index_title H4 {
	COLOR: #b8b7b7; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 7px
}
.info_tab {
	PADDING-BOTTOM: 60px; PADDING-LEFT: 50px; PADDING-RIGHT: 50px; CLEAR: both; PADDING-TOP: 0px
}
.info_tab TABLE {
	WIDTH: auto
}
.foot {
	MARGIN: 50px auto 0px; WIDTH: 960px
}
.home_left {
	WIDTH: 670px; FLOAT: left; MARGIN-RIGHT: 10px
}
.home_right {
	WIDTH: 280px; FLOAT: right
}
.home_left .update {
	WIDTH: 100%; HEIGHT: 100%
}
.home_left .label {
	BORDER-BOTTOM: #d9e7ec 1px solid; WIDTH: 100%; FLOAT: left
}
.home_left .label .no_border_right {
	BORDER-RIGHT: 0px
}
.home_left .label UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.home_left .label LI {
	MARGIN: 10px; WIDTH: 85px; FLOAT: left; BORDER-RIGHT: #d9e7ec 1px solid
}
.home_left .update_info {
	BORDER-BOTTOM: #d9e7ec 1px dashed; PADDING-BOTTOM: 10px; WIDTH: 100%; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 10px
}
.home_left .update_info IMG {
	WIDTH: 50px; HEIGHT: 50px
}
.home_left .update_info .left {
	WIDTH: 50px; FLOAT: left; MARGIN-RIGHT: 10px
}
.home_left .update_info .right {
	WIDTH: 610px; FLOAT: right; HEIGHT: 50px; OVERFLOW: hidden
}
.home_left .update_info .right STRONG {
	FONT: 700 16px/1.125 Arial, Helvetica, sans-serif; COLOR: #4c72a0
}
.home_left .no_border_bottom {
	BORDER-BOTTOM: 0px
}
.home_left .content {
	WIDTH: 100%; FLOAT: left; HEIGHT: 230px; OVERFLOW: hidden
}
.home_left .content UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 0px
}
.home_left .content LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 112px; PADDING-TOP: 0px
}
.home_left .content .card {
	BORDER-BOTTOM: #d9e7ec 1px dashed; PADDING-BOTTOM: 10px; MARGIN-TOP: 10px; WIDTH: 335px; FLOAT: left; HEIGHT: 90px
}
.home_left .content .left {
	WIDTH: 50px; MARGIN-RIGHT: 20px
}
.home_left .content .card .right {
	WIDTH: 260px; FLOAT: right
}
.home_left .content .card .right SPAN {
	WIDTH: 245px; DISPLAY: block; MARGIN-BOTTOM: 5px; OVERFLOW: hidden
}
.home_left .content .card .right .title {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.home_right .module {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 20px; PADDING-TOP: 0px
}
.home_right .module .title_right {
	BORDER-BOTTOM: #dddddd 0px solid; BORDER-LEFT: #dddddd 1px solid; BACKGROUND-COLOR: #f9f9f9; COLOR: #666666; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none
}
.home_right .module .title_right {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px; border-top-left-radius: 6px; border-top-right-radius: 6px
}
.home_right .module .content_update {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ffffff 0px 0px; COLOR: #333333; BORDER-TOP: #dddddd 0px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 6px; -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px
}
.home_right .module .content_update SPAN {
	DISPLAY: block
}
.home_right .module .content_update UL {
	MARGIN: 10px 0px; PADDING-LEFT: 5px; HEIGHT: 130px
}
.home_right .module .content_update LI {
	DISPLAY: block; MARGIN-BOTTOM: 10px; HEIGHT: auto; CLEAR: both
}
.home_right .module .content_update STRONG {
	FONT: 700 16px/1.125 Arial, Helvetica, sans-serif; COLOR: #4c72a0
}
.home_right .module .content_update .data {
	TEXT-ALIGN: center; DISPLAY: block; MARGIN-BOTTOM: 5px; COLOR: #ccc
}
.home_right .module .content_update LI SPAN {
	DISPLAY: block; MARGIN-BOTTOM: 10px; COLOR: #333333
}
.home_right .module .content_update .left {
	FLOAT: left
}
.home_right .module .content_update .right {
	FLOAT: right
}
.home_right .module .content_update .img {
	WIDTH: 50px; DISPLAY: block; MARGIN-BOTTOM: 25px; FLOAT: left; HEIGHT: 50px; CLEAR: none; MARGIN-RIGHT: 13px
}
.home_right .module .content_update IMG {
	WIDTH: 50px; HEIGHT: 50px
}
.home_right .module .mycard {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ffffff 0px 0px; COLOR: #333333; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 6px; -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px
}
.home_right .module .mycard .info {
	MARGIN-TOP: 15px; WIDTH: 100%; MARGIN-BOTTOM: 10px; HEIGHT: 50px
}
.home_right .module .mycard .info IMG {
	WIDTH: 50px; FLOAT: left; HEIGHT: 50px
}
.home_right .module .mycard .info SPAN {
	WIDTH: 200px; DISPLAY: block; MARGIN-BOTTOM: 3px; FLOAT: right
}
.home_right .module .mycard .conection {
	MARGIN-TOP: 20px; HEIGHT: 40px
}
.home_right .module .mycard .conection UL {
	MARGIN: 0px; DISPLAY: block; FONT: 700 16px/1.125 Arial, Helvetica, sans-serif
}
.home_right .module .mycard .conection LI {
	TEXT-ALIGN: center; LIST-STYLE-TYPE: none; MARGIN: 0px 3px 0px 0px; WIDTH: 70px; FLOAT: left; LIST-STYLE-IMAGE: none; BORDER-RIGHT: #ddd 1px solid
}
.home_right .module .mycard .conection LI A {
	DISPLAY: block
}
.home_right .module .mycard .conection STRONG {
	DISPLAY: block; COLOR: #004ab6
}
.home_right .module .mycard .conection SPAN {
	FONT: 12px/1.125 Arial, Helvetica, sans-serif; COLOR: #3072d2
}
.home_right .module .mycard .conection .no_right_border {
	BORDER-RIGHT: 0px
}
